= image_tag "claim.png"
= image_tag "camera.png"
= image_tag "geotag.png"
= image_tag "tweety.png"
%p
  = link_to "Get Started-Join!", signup_path, :class => 'join'

%p
  Cootweet is a twitter clone for educational purposes. Get the source code at github