!!! XML
!!! Strict
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', 'lang' => 'en'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= "#{page_title + ' - ' unless page_title.blank?}Cootweets"
    = stylesheet_link_merged 'screen'
  %body
    #container
      #header
        %h1 Cootweets
      #content
        .narrow
          = render :partial => 'layouts/flashes'
          = yield
      #sidebar
        %ul
          %li= link_to "Home".upcase, root_path
          - if current_user
            %li= link_to "Logout", logout_path
            %li= link_to "My Cootweets", tweets_path
          - else
            %li= link_to "Login", login_path
            %li= link_to "Sign up",new_user_path
      .clear
      #footer
    = javascript_include_merged :base